html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

/* Individual sections */

/* Scoreboard */
#score-board {
    border: 1px solid;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    /* padding: 1em; */
    padding-right: 1em;
}

.separation {
    border: 2px solid;
    width: 0%;
    padding: 4em 0;
    margin: auto;
}

.player {
    font-size: 1.2rem;
}

.player-person {
    width: fit-content;
}

.player h2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;
    padding: 1em;
}

.player h2 svg {
    width: 30%;
}