html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

/* Individual sections */

/* Scoreboard */
#score-board {
    border: 1px solid red;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    padding: .5em;
}

.separation {
    border: 2px solid;
    margin: auto;
    width: 9%;
    transform: rotate(90deg);
}

/* Players */

.player {
    width: 49%;
    /* border: 1px solid blue; */
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.player h2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 1em;
    /* border: 1px solid green; */
    font-size: 1rem;
}

/* Icons */

.player .icon {
    /* border: 1px solid orange; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.player .icon svg {
    /* border: 1px solid blueviolet; */
    color: initial;
}

.player-person .icon svg {
    width: 80%;
    margin: 0;
}

.player-person .icon {
    width: 15%;
}

.player-computer .icon svg {
    width: 50%;
}

/* Score */

.score h3 {
    font-weight: bolder;
    font-size: 3rem;
}

/* Timer */

#timer {
    margin: 1em auto;
    border: 1px solid blue;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    padding: 1em;
}

/* Message */

#msg {
    margin: 1em auto;
    border: 1px solid green;
    padding: 1em;
    font-size: 1.8rem;
    text-align: center;
}

/* Playground */

#playground {
    margin: 1em auto;
    border: 1px solid orange;
    display: flex;
    padding: 1.5em;
}

#playground .player h2 {
    margin-bottom: 2em;
}

#playground .input {
    width: 50%;
    fill: green;
}